$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlue: hsl(207, 26%, 17%);
$veryDarkBlueLightMode: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$homePageItems: 14px;
$detailsPage: 16px;
$nunitoFontFamily: 'Nunito Sans', sans-serif;

$lightFontWeight: 300;
$semiBoldFontWeight: 800;
$extraBoldFontWeight: 1000;
$primaryFontSize: 0.75rem;
$secondaryFontSize: 0.85rem;

$smallHeadingsFontSize: 100%;
$normalHeadingsFontSize: 125%;

$primaryBorderRadius: 2.5px;
$secondaryBorderRadius: 5px;

$primarySpacing: 3.3rem;
$secondarySpacing: 2.3rem;
$shortSpacing: 2rem;
$primaryLittleShortSpacing: 1.3rem;
$secondaryShortSpacing: 0.1rem;

$LineHeight: 1.5;

$boxShadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);

$mobileBreakPoint: 375px;
$desktopBreakPoint: 1440px;
$tabletBreakPoint: 768px;
